@model ProyectoSistemaTickets.Models.ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idcuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idcuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idpriori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idpriori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idservicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idservicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_crear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_crear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idticket">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
