@model ProyectoSistemaTickets.Models.clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contacto_principal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contacto_principal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idcuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idcuenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idcliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
